<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        <p>Right now = <%= justTime %>
        </p>
        <p>
            Yesterday = <%= justYesterdayTime %>
        </p>
        <p>
            cron WIB: <%= d0WIB %> - <%= d1WIB %>
        </p>
        <p>
            cron UTC: <%= d0UTC %> - <%= d1UTC %>
        </p>
    </div>
</body>

</html>